.bgGradient {
    background: linear-gradient(135deg, rgba(108, 99, 255, 0.8), rgba(0, 188, 212, 0.8));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
  }