/* Estilos para Dashboard */
.dashboard-container {
    background-color: #f4f7fc;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    height: 100vh;
}

.main-title {
    font-size: 2rem;
    color: #333;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: 0.5px;
}

.dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}
.dona {
    width: 100%;
    height: 100%;
}
.donut-chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.legend-container {
    text-align: center;
    margin-top: 0;
}

.legend-text {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}
.capital-inicial {
    font-family: 'Roboto', sans-serif; /* Fuente elegante y moderna */
    font-weight: 300; /* Delgado */
    font-size: 12px; /* Tamaño del texto */
    color: #4A90E2; /* Azul claro sugerido */
    text-transform: uppercase; /* Texto en mayúsculas */
    letter-spacing: 1px; /* Espaciado entre letras */
    margin: 10px 0; /* Margen para separación */
}

.capital-actual {
    font-family: 'Roboto', sans-serif; /* Fuente elegante y moderna */
    font-weight: 300; /* Delgado */
    font-size: 13px; /* Tamaño del texto */
    color: #FF6F00;
    text-transform: uppercase; /* Texto en mayúsculas */
    letter-spacing: 1px; /* Espaciado entre letras */
    margin: 10px 0; /* Margen para separación */
}

.chart-title {
    font-size: 1.25rem;
    font-weight: 500;
    color: #4e4e4e;
    margin-top: 10px; /* Ajusta el valor según lo necesites */
    margin-bottom: 10px; /* Ya existe o puede ser agregado si es necesario */
}

.row {
    width: 100%;
    margin: 0;
}

.col-md-6 {
    padding: 0;
    margin-bottom: 50px;
}

.line-chart-container {
    width: 100%;
    height: 100%;
    max-width: 100%; /* Evitar que el gráfico se estire más allá del contenedor */
}

@media (max-width: 768px) {
    .line-chart-container {
        height: 250px; /* Ajusta la altura en dispositivos más pequeños */
    }
}

.progress-container {
    margin-top: 30px;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-alert p {
    color: red; /* Establece el color de texto a rojo */
    font-weight: bold; /* (Opcional) Resalta el texto */
}
.navlink-text {
    position: relative; /* Necesario para usar ::after */
    transition: color 0.3s ease; /* Transición suave para el color */
  }
  
  .navlink-text::after {
    content: ""; /* Inicialmente vacío */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: transparent; /* Ocultar el texto adicional por defecto */
    text-align: center;
    font-family: inherit; /* Hereda la fuente original */
    font-style: inherit; /* Hereda el estilo */
    font-size: inherit; /* Hereda el tamaño */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; /* Ocultar contenido adicional */
    transition: opacity 0.3s ease, color 0.3s ease;
  }
  
  .navlink-text:hover {
    color: transparent; /* Oculta el texto original */
  }
  
  .navlink-text:hover::after {
    content: "IR A PLANES DE AHORRO"; /* Texto que aparecerá al hacer hover */
    color: #0056b3; /* Azul oscuro */
    opacity: 1; /* Muestra el texto adicional */
  }
  
  