/* Estilos para Dashboard */
.dashboard-container {
    background-color: #f4f7fc;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    height: 100%;
}

.main-title {
    font-size: 2rem;
    color: #333;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: 0.5px;
}

.dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;  
}
.dona {
    width: 100%;
    height: 100%;
}




.chart-title {
    font-size: 1.25rem;
    font-weight: 500;
    color: #4e4e4e;
    margin-top: 20px; /* Ajusta el valor según lo necesites */
    margin-bottom: 30px; /* Ya existe o puede ser agregado si es necesario */
}

tspan {
    background-color: red;
}


.row {
    width: 100%;
    margin: 0;
}

.col-md-6 {
    padding: 0;
    margin-bottom: 50px;
}

.progress-container {
    margin-top: 30px;
    text-align: center;
    width: 100%; /* Asegúrate de que ocupe todo el ancho disponible */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */
}


.progress-bar-container {
    width: 80%; /* Puedes ajustar este valor según el diseño deseado */
    max-width: 500px; /* Opcional: define un límite máximo */
    margin: 0 auto; /* Centra el contenedor dentro de su sección */
}


.progress-bar {
    height: 20px; /* Ajusta la altura de la barra */
    border-radius: 10px; /* Opcional: Bordes redondeados */
    overflow: hidden; /* Evita desbordamientos */
}

.progress-fill {
    height: 100%; /* Asegura que la barra de progreso llena use todo el alto */
    background: linear-gradient(to right, #a8e063, #56ab2f); /* Color dinámico */
    transition: width 0.5s ease-in-out; /* Animación suave */
}


.progress-text {
    margin-top: 10px;
    font-size: 1.1rem;
    font-weight: 600;
    color: #333;
}

@media (max-width: 768px) {
    .dashboard {
        flex-direction: column;
    }

    .col-md-6 {
        margin-bottom: 20px;
    }
}
