.predeterminadas {
  font-size: 12px;
  margin: 0;
  padding: 0;
  text-align: left;
}

/* Estilo del contenedor del botón */
.btn-tooltip-container {
  position: relative;
  display: inline-block;
}

/* Estilo del tooltip */
.tooltip {
  visibility: hidden;
  width: 220px;
  background-color: #e5ff0098; /* Fondo amarillo */
  color: #000;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -110px; /* Centrar el tooltip */
  opacity: 0;
  font-size: 12px;
  transition: opacity 0.3s;
}

/* Flecha del tooltip */
.tooltip::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #ffcc00 transparent transparent transparent; /* Flecha amarilla */
}

/* Mostrar el tooltip cuando el botón está deshabilitado */
.btn-tooltip-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

/* Botones - Modal */
.boton-modal {
  width: 48%; /* Ajusta el ancho de todos los botones */
  padding: 10px 20px;
  white-space: nowrap;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.boton-modal:hover {
  background-color: #2980b9; /* Azul más oscuro */
}

/* Botón de tipo secundario */
.boton-modal.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}

.boton-modal.btn-secondary:hover {
  background-color: #5a6268; /* Gris más oscuro */
}

/* Estilo de los botones en el modal */
.modal-Contenido button {
  width: auto; /* Los botones en el modal no deben tener un ancho fijo */
}

.modal-Contenido button:nth-child(1) {
  background-color: #007BFF; /* Azul */
}

.modal-Contenido button:nth-child(1):hover {
  background-color: #0056b3; /* Azul más oscuro */
}

.modal-Contenido button:nth-child(2) {
  background-color: #e74c3c; /* Rojo */
}

.modal-Contenido button:nth-child(2):hover {
  background-color: #c0392b; /* Rojo más oscuro */
}

/* Estilo para las filas de la tabla */
.table th {
  background-color: #f8f9fa;
}

.table tbody tr:hover {
  background-color: #f0f8ff; /* Fondo suave (azul claro) para toda la fila */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-contenido {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.modal-contenido h3 {
  margin-bottom: 20px;
  color: #333;
  font-size: 18px;
}

.modal-contenido input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.d-flex .boton-modal {
  flex: none;
}

/* Ajustes para el modal cuando está visible */
/* .modal.show {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1050;
  width: 80%;
  max-width: 500px;
} */

.modal.show {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Esto lo centra en el medio */
  z-index: 1050; /* Asegúrate de que está por encima de otros elementos */
  width: 80%; /* Ajusta el tamaño si es necesario */
  max-width: 500px; /* Limita el tamaño máximo */
  max-height: 400px;
  padding: 20px; /* Opcional, si deseas un pequeño espaciado */
  box-sizing: border-box; /* Asegura que el padding no desajuste el tamaño del modal */
}

.modal-dialog {
  background-color: red;
}

@media (max-width: 840px) {
  .misbotones {
    height: 60px;
  }
}
