/* Fondo.css */
.fondo-container {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.titulo {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.fondo-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

.form-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}

.form-input:focus {
    outline: none;
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(92, 149, 184, 0.5);
}

.btn-guardar {
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-guardar:hover {
    background-color: #002fff;
}

@media (max-width: 768px) {
    .fondo-container {
        width: 90%;
        padding: 15px;
    }

    .titulo {
        font-size: 20px;
    }

    .form-input {
        font-size: 14px;
    }

    .btn-guardar {
        font-size: 14px;
    }
}

.fondo-card {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.fondo-card h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #333;
}

.fondo-card p {
    margin: 5px 0;
    font-size: 1em;
    color: #555;
}

.card-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.btn-modificar, .btn-eliminar {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
}

.btn-modificar {
    background-color: #007bff;
    color: #fff;
}

.btn-eliminar {
    background-color: #dc3545;
    color: #fff;
}

.btn-modificar:hover {
    background-color: #0056b3;
}

.btn-eliminar:hover {
    background-color: #c82333;
}
