
.bgGradient {
    background: linear-gradient(135deg, rgba(108, 99, 255, 0.8), rgba(0, 188, 212, 0.8));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
  }

/* Estilos para el modal */
.elevated-modal .modal-content {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

/* Bordes suaves en los inputs */
.form-control {
  border-radius: 10px;
  border: 1px solid #ddd;
}

.logoContainer {
  background-color: rgba(0, 64, 255, 0.8);  /* Fondo gris claro y translúcido */
  border-radius: 8px;  /* Bordes redondeados para suavizar el fondo */
  padding: 10px;
  display: inline-block; /* Asegura que el fondo se ajuste solo al logo */
}



/* Asegurar que los botones tengan un espaciado adecuado */
button {
  border-radius: 10px;
}
  
  /* LogoF */
  .logoF {
    max-width: 200px; /* Ajusta el tamaño del logo */
    height: auto;
  }
  
  .iconoSignup {
    max-width: 100px; /* Ajusta el tamaño del ícono */
    height: auto;
    cursor: pointer; /* Cambia el cursor a un puntero al pasar el mouse */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 50%; /* Hace que los bordes sean completamente redondeados */
  }
  
  .iconoSignup:hover {
    transform: scale(1.1); /* Aumenta ligeramente el tamaño del ícono */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Agrega una sombra para resaltar */
  }
  

  .loginForm {
    width: 100%;
    max-width: 400px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
  
  .focus-input:focus {
    border-color: #00bcd4;
    box-shadow: 0 0 0 0.2rem rgba(0, 188, 212, 0.25);
  }
  
  @keyframes zoomIn {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
  }
  
  .animate__zoomIn {
    animation: zoomIn 1s ease-out;
  }
  
  .animate__fadeIn {
    animation: fadeIn 1s ease-out;
  }
  
  @keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
  }
  
  .animate__pulse {
    animation: pulse 1s ease-in-out infinite;
  }
  