
.bgGradient {
    background: linear-gradient(135deg, rgba(108, 99, 255, 0.8), rgba(0, 188, 212, 0.8)), 
                url('https://media.istockphoto.com/id/955408648/es/foto/fondo-de-gr%C3%A1ficos-financieros.jpg?s=612x612&w=0&k=20&c=sH1n1LFlcKQHWhgLFt0TxkjdGC5eqWzGQfQBeI82j9c=');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
  }
  
  /* LogoF */
  .logoF {
    max-width: 200px; /* Ajusta el tamaño del logo */
    height: auto;
  }
  
  
  .loginForm {
    width: 100%;
    max-width: 400px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
  
  .focus-input:focus {
    border-color: #00bcd4;
    box-shadow: 0 0 0 0.2rem rgba(0, 188, 212, 0.25);
  }
  
  @keyframes zoomIn {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
  }
  
  .animate__zoomIn {
    animation: zoomIn 1s ease-out;
  }
  
  .animate__fadeIn {
    animation: fadeIn 1s ease-out;
  }
  
  @keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
  }
  
  .animate__pulse {
    animation: pulse 1s ease-in-out infinite;
  }
  